.jumbotron {
  padding-top: 6rem;
  background-color: #f5daa7;
}

#projects {
  background-color: #f5daa7;
}

section {
  padding-top: 5rem;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill span {
  width: 130px;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.skill .progress {
  flex-grow: 1;
  margin-left: 10px;
  height: 20px;
}

svg {
  display: block;
}

#about svg {
  margin-top: -2px;
}

#contact {
  padding-bottom: 100px;
}
